/**
 * Cookie Banner Stylesheet
 */
:root {
	--ilcc-background-color: #ffffff;
	--ilcc-text-color: #1e1e1e;
	--ilcc-link-color: #1e1e1e;
	--ilcc-link-color-hover: #555555;
	--ilcc-close-button: black;
	--ilcc-close-button-hover: #444444;
	--ilcc-close-button-text: white;
	--ilcc-close-button-hover-text: white;
	--ilcc-settings-background-color: #f9f9f9;
	--ilcc-settings-border: #eeeeee;
	--ilcc-toggle-background-color: #e6e6e6;
	--ilcc-toggle-handle-background-color: #b3b3b3;
	--ilcc-radius: 4px;
}

body {

	&.has-ilcc-banner {}

	&.has-ilcc-consented {
	}

}

.ilcc-cookie-consent-notice {
	z-index: 99999;
	padding: 1.4rem 0;
	color: var(--ilcc-text-color);
	background: var(--ilcc-background-color);
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	a {
		text-decoration: underline;
		color: var(--ilcc-link-color);

		&:hover {
			color: var(--ilcc-link-color-hover);
		}
	}
}

.ilcc-cookie-consent-notice-content {
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: space-between;
	max-width: 68.5rem;
	margin: 0 auto;

	@media screen and (min-width: 1024px) {
		flex-flow: row;
	}

	p {
		font-size: 0.85rem;
		flex: 1 1 0px;
		margin: 0;
		color: var(--ilcc-text-color);

		span {
			font-weight: bold;
			display: block;
			margin-bottom: 0.5em;
			color: var(--ilcc-text-color);
		}
	}
}

.ilcc-cookie-consent-actions {
	display: flex;
	align-items: flex-start;
	flex: 0 1 auto;
	flex-flow: column;
	margin-top: 1rem;

	@media screen and (min-width: 768px) {
		flex-flow: row wrap;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 0;
		margin-left: 1rem;
	}
}

.ilcc-cookie-consent-button {
	font-size: 0.85rem;
	font-weight: bold;
	line-height: 1;
	display: inline-block;
	flex: 0 1 calc(100% - 0.5rem);
	width: 100%;
	margin: 0.25rem !important;
	padding: 1.25em 2.5em;
	transition: 0.25s background-color ease-in-out;
	white-space: nowrap;
	text-decoration: none;
	color: var(--ilcc-close-button-text);
	border: 1px solid var(--ilcc-close-button);
	border-radius: var(--ilcc-radius);
	outline: none;
	background-color: var(--ilcc-close-button);

	@media screen and (min-width: 768px) {
		flex: 0 1 auto;
		width: auto;
		max-width: none;
	}

	@media screen and (min-width: 1024px) {
		flex: 0 1 calc(50% - 0.5rem);
		max-width: calc(50% - 0.5rem);
	}

	&:hover,
	&:focus {
		cursor: pointer;
		color: var(--ilcc-close-button-hover-text);
		border-color: var(--ilcc-close-button-hover);
		background-color: var(--ilcc-close-button-hover);
	}
}

.ilcc-cookie-consent-necessary {
	border: 1px solid var(--ilcc-close-button-text);
	--ilcc-close-button-text: var(--ilcc-text-color);
	--ilcc-close-button: transparent;
}

.ilcc-cookie-consent-settings-toggle {
	font-size: 0.75rem;
	font-weight: bold;
	display: block;
	flex: 0 1 100%;
	width: 100%;
	margin-top: 0.5rem;
	transition: 0.25s opacity ease-in-out;
	opacity: 0.75;
	color: var(--ilcc-link-color);
	border: none;
	outline: none;
	background: transparent;

	@media screen and (min-width: 768px) {
		text-align: left;
	}

	@media screen and (min-width: 1024px) {
		text-align: center;
	}

	&:hover,
	&:focus {
		cursor: pointer;
		opacity: 1;
	}

	&::after {
		content: ' ›';
	}
}

.ilcc-cookie-consent-settings {
	max-height: 0;
	overflow-y: hidden;
	margin-top: 1.5rem;
	border-top: 1px solid var(--ilcc-settings-border);
	background-color: var(--ilcc-settings-background-color);
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0s;
	}

	&.is-open {
		max-height: 50vh;
		overflow-y: scroll;
	}

	> *:first-child {
		margin-top: 1.5rem;
	}

	> *:last-child {
		margin-bottom: 1.5rem;
	}
}

.ilcc-cookie-consent-settings-title {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0 0 0.5rem 0;
	padding-right: 2rem;
	padding-left: 2rem;
	color: var(--ilcc-text-color);
}

.ilcc-cookie-consent-settings-intro {
	padding-right: 2rem;
	padding-left: 2rem;
	color: var(--ilcc-text-color);
}

.ilcc-cookie-consent-categories {
	margin: 0;
}

.ilcc-cookie-consent-category {
	display: flex;
	align-items: center;
	flex-flow: row;
	justify-content: space-between;
	padding: 1rem 2rem;
	text-decoration: none !important;
	color: var(--ilcc-text-color);
	border-top: 1px solid var(--ilcc-settings-border);

	&:hover,
	&:focus {
		text-decoration: none;
		color: var(--ilcc-text-color);
	}

	&.ilcc-toggle-disabled {
		cursor: not-allowed;
	}
}

.ilcc-cookie-consent-category-info {
	max-width: 30rem;

	strong {
		margin-bottom: 0.25rem;
		color: var(--ilcc-text-color);
	}

	p {
		font-size: 0.9rem;
		margin: 0;
		opacity: 0.85;
		color: var(--ilcc-text-color);
	}
}

.ilcc-cookie-consent-category-toggle {
	margin-left: 1.5rem;
}

.ilcc-cookie-consent-toggle {
	position: relative;
	display: block;
	width: 3.5rem;
	height: 1.7rem;
	border-radius: 1.5rem;
	background-color: var(--ilcc-toggle-background-color);

	.ilcc-toggle-active & {
		background-color: rgba(106, 183, 133, .2);
	}

	.ilcc-toggle-disabled & {
		background-color: #f4cecd;
	}
}

.ilcc-cookie-consent-toggle-handle {
	position: absolute;
	top: 0.1rem;
	right: auto;
	left: 0.1rem;
	width: 1.5rem;
	height: 1.5rem;
	transition: left .25s ease-in-out 0s;
	border-radius: 1.5rem;
	background-color: var(--ilcc-toggle-handle-background-color);
	backface-visibility: hidden;

	.ilcc-toggle-active & {
		right: 0.1rem;
		left: auto;
		background-color: #6ab785;
	}

	.ilcc-toggle-disabled & {
		background-color: #d9534f;
	}
}

.ilcc-cookie-consent-settings-save {
	margin-top: 1rem;
	margin-right: 2rem;
	text-align: right;
}


/**
 * Top Position Style
 */
body.ilcc-style-top {
	--ilcc-background-color: #282b2d;
	--ilcc-text-color: #cccccc;
	--ilcc-link-color: #cccccc;
	--ilcc-link-color-hover: #ffffff;
	--ilcc-close-button: #ffffff;
	--ilcc-close-button-hover: #ffffff;
	--ilcc-close-button-text: #222222;
	--ilcc-close-button-hover-text: #000000;
	--ilcc-settings-background-color: #1d1f21;
	--ilcc-settings-border: #2e3234;
	--ilcc-toggle-background-color: #e6e6e6;
	--ilcc-toggle-handle-background-color: #b3b3b3;
	transition-property: padding-top;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	.ilcc-cookie-consent-notice {
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;

		p {

			span {
				@media screen and (min-width: 768px) {
					font-size: 1rem;
					margin-bottom: 0;
				}
			}
		}
	}

	.ilcc-cookie-consent-notice-content {
		max-width: none;
		padding-right: 1rem;
		padding-left: 1rem;

		@media screen and (min-width: 1024px) {
			padding-right: 2rem;
			padding-left: 2rem;
		}
	}

	&.admin-bar .ilcc-cookie-consent-notice {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	.ilcc-cookie-consent-settings {
		margin-bottom: -1.5rem;
	}


}

/**
 * Overlay Position Style
 */
body.ilcc-style-overlay {

	.ilcc-cookie-consent-notice {
		position: fixed;
		bottom: 2rem;
		left: 50%;
		width: 90%;
		max-width: 62.5rem;
		padding: 1rem 1.5rem;
		transform: translateX(-50%);
		border-radius: var(--ilcc-radius);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 1px 2px 5px rgba(0, 0, 0, 0.1);

		p {
			max-width: 40rem;

			span {
				font-size: 1rem;
				margin-bottom: 0.25rem;
			}
		}
	}

	.ilcc-cookie-consent-settings {
		margin-right: -1.5rem;
		margin-bottom: -1rem;
		margin-left: -1.5rem;
	}

}


body.ilcc-style-takeover {

	&.has-ilcc-banner::before {
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: 100%;
		content: '';
		opacity: 0.6;
		background-color: #000000;
		transition-property: opacity;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	}

	&.ilcc-banner-closed::before {
		opacity: 0;
	}

	.ilcc-cookie-consent-notice {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 90%;
		max-width: 45rem;
		padding: 2rem;
		transform: translate(-50%, -50%);
		border-radius: var(--ilcc-radius);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 1px 2px 5px rgba(0, 0, 0, 0.1);

		&.is-closed {
			opacity: 0;
		}

		p {

			span {
				font-size: 1.3rem;
			}
		}

	}

	.ilcc-cookie-consent-notice-content {
		@media screen and (min-width: 1024px) {
			flex-flow: column;
		}
	}

	.ilcc-cookie-consent-actions {
		margin-top: 2rem;
	}

	.ilcc-cookie-consent-button {
		padding: 1.4rem 2rem;

		@media screen and (min-width: 768px) {
			flex: 0 1 calc(50% - 0.5rem);
			max-width: calc(50% - 0.5rem);
		}
	}

	.ilcc-cookie-consent-settings-toggle {
		font-size: 0.85rem;
		margin-top: 1rem;

		@media screen and (min-width: 768px) {
			text-align: center;
		}
	}

	.ilcc-cookie-consent-settings {
		margin-right: -2rem;
		margin-bottom: -2rem;
		margin-left: -2rem;
	}

}
